@model AspNetCoreTodo.Models.Movie

@{
    ViewData["Title"] = "Delete-Movie Ticketing Web App-ComIT";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="mt-5">Are you sure you want to <span class="delete"> DELETE </span> this movie?</h3>
            <div>
                <hr />
                <dl class="row mt-5">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TotalCapacity)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TotalCapacity)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BookedCapacity)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BookedCapacity)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.imgUrl)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.imgUrl)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PlotDsc)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PlotDsc)
                    </dd>
                </dl>
<hr />
<br>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                </form>
            </div>
        </div>