@model IEnumerable<AspNetCoreTodo.Models.Movie>

@{
    ViewData["Title"] = "Index";
}



<div class="container">
<div class="row">
	<div class="col-sm-12">
<h3 class="mt-auto">Available Movies list table</h3>
<p>
    <button type="button" class="btn btn-success float-right --white"><a style="color:white"asp-action="Create">Create New</a></button>
</p>
<table class="table table-striped table-hover"">
    <thead class="thead-dark">
        <tr>
             <th>
               Cover
            </th>
            <th>
                Movie Title
            </th>
            <th>
                Total Capacity
            </th>
            <th>
                Number of bookings
            </th>
           
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <img style="width:25%"src="@item.imgUrl" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookedCapacity)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PlotDsc)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

	</div>
</div>
</div>
