@model AspNetCoreTodo.Models.Movie

@{
    ViewData["Title"] = "Details";
    var remain = Model.TotalCapacity - @Model.BookedCapacity;
}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-2">
                <div class="" style="width: 25rem;">
                    <img class="w-50" src="@Html.DisplayFor(model => model.imgUrl)" alt="@Html.DisplayFor(model => model.Title)">
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="">
                <h5 class="card-title">@Html.DisplayFor(model => model.Title)</h5>
                <p class="card-text">@Html.DisplayFor(model => model.PlotDsc)</p>
                <p class="alert alert-warning" role="alert">Available capacity: <span class="font-weight-bold">@remain</span></p>
                <a href="/Movies/Book/@Model.Id" class="btn btn-primary float-right">book now</a>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>