@model AspNetCoreTodo.Models.Users

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="mt-5">Are you sure you want to <span class="delete"> DELETE </span> this user?</h3>
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AvatarimgUrl)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AvatarimgUrl)
                    </dd>
                </dl>
<hr />
<br>
                    <input type="hidden" asp-for="UserId" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                
            </div>
        </div>